.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.container-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgcontainer {
    text-align: left;
}

.imgcontainer h1 {
    font-size: 50px;
}

.login-form {
    width: 600px;
    height: 80%;
    padding: 50px 50px;
    border: solid 1px beige;
    background-color: white;
}

.container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-info {
    margin: 20px 0px;
    width: 100%;
}

.container-info-chk {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.container-info-chk label {
    font-size: 20px;
}

.uname-input {
    margin: 20px 0px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding: 2px 0px;
}

.psw-input {
    margin: 20px 0px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding: 2px 0px;
}

.psw a {
    text-decoration: none;
    font-size: 20px;

}

.submit {
    width: 40%;
    padding: 30px 20px;
    color: white;
    border: none;
    background-color: #21cc7a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
.sub-input {
    margin: 20px 0px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding: 2px 0px;
}

.mess-input {
    margin: 20px 0px;
    font-size: 20px;
    width: 100%;
    padding: 2px 0px;
}